<form name="download-tweets" action="/download" method="POST">
<input type="hidden" name="query" value="<%= query %>">
<input type="submit" value="Download" class="btn btn-lg btn-primary btn-block">
</form>