<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://wpengine.com"><span class="glyphicon glyphicon-share"></span> WP Engine</a>
      </li>
    </ul>
  </div>
</nav>
