<%
if ( 'undefined' === typeof query ) {
  query = '';
}

if ( 'undefined' === typeof tweets ) {
  tweets = [];
}

%>
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo">
      <img src="/wpe-logo.png">
    </a>
    <h1>Fetch Twitter Data</h1>
    <p>Search through Twitter records and download a CSV of all of your tweets for sentiment analysis.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this tool works</h3>
      <ul>
        <li>Help to come...</li>
      </ul>
    </div>
    <div class="col-md-8">
      <h3><span class="glyphicon glyphicon-cloud-download"></span> Get Tweets</h3>
      <form action="/" method="post" name="twitter-query">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="query">Search Query</label>
          <input type="text" name="query" class="form-control" value="<%= query %>">
          <p class="help-block"><a href="https://support.twitter.com/articles/71577">Enter a standard Twitter search query</a></p>
        </div>

        <div class="col-sm-4 col-sm-offset-2 form-group">
          <input type="submit" class="btn btn-lg btn-primary btn-block">
        </div>
      </div>
    </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-1 results">
      <ul>
        <% for( var i=0; i < tweets.length; i++ ) { %>
          <li>
            <%- include('../partials/tweet.ejs', {tweet: tweets[i]}) -%>
          </li>
        <% } %>
      </ul>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <% if ( 0 < query.length ) { %>
        <%- include('../partials/download-tweets.ejs', {query: query}); -%>
      <% } %>
    </div>
  </div>
</div>

</body>
</html>
